.task-category{
    padding: 0.5rem;
    width: 100%;
}

.task-list{
    display: flex;
    gap: 1rem;
    width: 100%;

    button{
        margin: 0.5rem 0;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .task-list-pending{
        width: 150%;
    }
    .task-list-completed{
        width: 50%;
        li{
            width: 100%;
            text-decoration: line-through;
            color: gray !important;
        }
    }
}